<div id='footer'>
    &copy; 2014 九头鸟龙(
        <a target="_blank" href="http://hi.baidu.com/pengjunlong"><img border="0" src="/img/baidu.png" alt="九头鸟龙的百度空间" height="16"></a>
        <a target="_blank" href="http://weibo.com/jtnl"><img border="0" src="/img/weibo.png" alt="九头鸟龙的微博" height="16"></a>
        <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=357195147&amp;site=qq&amp;menu=yes"><img border="0" src="http://wpa.qq.com/pa?p=1:357195147:45" alt="九头鸟龙的QQ" height="16"></a>
        ).
    Hosted by <a target="_blank" href="http://github.com/pengjunlong"><img border="0" src="/img/github.gif" alt="九头鸟龙的GitHub" height="16"></a>.
</div>
