<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
  "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>{{ page.title }} - 九头鸟龙</title>
    <link rel="stylesheet" href="/css/master.css" type="text/css" media="screen" charset="utf-8"/>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript" src="/js/jquery.jplayer.min.js"></script>
    <script type="text/javascript" src="/js/text_player.js"></script>
    <link rel="stylesheet" href="/css/text_player.css" type="text/css" charset="utf-8"/>
    <link rel="shortcut icon" href="/fav.ico">
    <link rel="icon" type="image/x-icon" href="/fav.ico">
  </head>
