---
layout: master
title: Blog
---
<!-- This loops through the paginated posts -->
{% for post in paginator.posts %}
<div class='post'>
<h1><a href='{{post.url}}'>{{post.title}}</a></h1>
<span class='date'>{{post.date | date_to_string}}</span>
<div class='body'>{{post.content}}</div>
<a href='{{post.url}}#disqus_thread'>View Comments</a>
</div>
{% endfor %}

<div class="section-nav">
<div class="left">
{% if paginator.previous_page %}
<a href="{{ paginator.previous_page_path }}">Back</a>
{% else %}
<span>Back</span>
{% endif %}
</div>

<div class="center">
{% for count in (1..paginator.total_pages) %}
{% if count == paginator.page %}
<span>{{ count }}</span>
{% endif %}
{% endfor %}
</div>

<div class="right">
{% if paginator.next_page %}
<a href="{{ paginator.next_page_path }}" class="next">Next</a>
{% else %}
<span>Next</span>
{% endif %}
</div>
</div>
